<h2 class="login-h2">Login</h2>
<div>
    <form (ngSubmit)="loginUser(firstName.value, email.value)" class="login-form">
      <div>
        <label class="login-label" for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required #firstName>
      </div>
      <div>
        <label class="login-label" for="email">Email:</label>
        <input type="email" id="email" name="email" required #email>
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
  
  