

<nav class="navigation-bar">
  <h1 class="help-desk-title">Grand Circus Help Desk</h1>
  <a routerLink="/tickets" class="nav-link">Bookmarked Tickets</a>
  <span class="nav-separator">|</span>
  <a routerLink="/solved-ticket" class="nav-link">Solved Tickets</a>
  <!-- Add more links for other pages as needed -->
</nav>


<form (ngSubmit)="createTicket(currentUser?.id)" class="new-ticket-form">
  <h1>Hello {{currentUser?.firstName}} {{currentUser?.id}}</h1>
  <h2>Create New Ticket</h2>
  <label for="body">Body:</label>
  <textarea id="body" [(ngModel)]="newTicket.body" name="body" required></textarea>
  <button type="submit" class="create-ticket-button">Create Ticket</button>
</form>


<ul class="ticket-list">
  <li *ngFor="let ticket of tickets" class="ticket-item" [ngClass]="{ 'solved': ticket.solved }">
    <div>
      <div>
          <h2>Ticket ID: {{ ticket.ticketId }}</h2>
          <p>Author ID: {{ ticket.author }}</p>
          <p>{{ ticket.body }}</p>
          <p>Resolved?: {{ ticket.solved ? 'Yes' : 'No' }}</p>
          <p>Solution: {{ ticket.solution ? ticket.solution : 'N/A' }}</p>
          <p>Solved by: {{ ticket.whoSolved ? ticket.whoSolved : 'N/A' }}</p>
          <p>Bookmark: {{ ticket.bookmarked ? 'Yes' : 'No' }}</p>
          <button (click)="goToBookmark()" class="bookmark-button">Bookmark</button>
          <button *ngIf="!ticket.solved" (click)="goToSolvedTicket(ticket)" class="resolve-button">Resolve Ticket</button>
      </div>
    </div>
  </li>
</ul>












